<template>
  <div>
    <nav class="level">
      <div class="level-left">
        <p class="level-item"></p>
      </div>
    </nav>

    <div class="container">
      <Nuxt />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>
