<template>
  <div>
    <div class="container">
      <div class="block"></div>
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="box">
            <b-field grouped>
              <b-field
                label="Host dio"
                :label-position="label_position"
                expanded
              >
                <b-input v-model="host"></b-input>
              </b-field>
              <b-field
                label="Nome do expert"
                :label-position="label_position"
                expanded
              >
                <b-input v-model="name"></b-input>
              </b-field>
            </b-field>

            <b-field grouped>
              <b-field
                label="Programa"
                :label-position="label_position"
                expanded
              >
                <b-input v-model="bootcamp"></b-input>
              </b-field>
              <b-field
                label="Cliente"
                :label-position="label_position"
                expanded
              >
                <b-input v-model="cliente"></b-input>
              </b-field>
            </b-field>

            <b-field label="Mentoria" :label-position="label_position">
              <b-input rows="2" v-model="mentoria" type="textarea"></b-input>
            </b-field>

            <b-field grouped>
              <b-field
                label="Data"
                :label-position="label_position"
                message="DD/MM"
                expanded
              >
                <b-input v-model="data"></b-input>
              </b-field>
              <b-field
                label="Horário"
                :label-position="label_position"
                message="HH:HH"
                expanded
              >
                <b-input v-model="horario"></b-input>
              </b-field>
            </b-field>

            <b-field label="Link StreamYard" :label-position="label_position">
              <b-input v-model="lstreamyard"></b-input>
            </b-field>

            <b-field label="Link YouTube" :label-position="label_position">
              <b-input v-model="lyoutube"></b-input>
            </b-field>

            <b-field>
              <b-button
                @click="limpar"
                type="is-danger"
                icon-left="delete"
                outlined
                >Limpar formulário</b-button
              >
            </b-field>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="columns">
              <div class="column">
                <b-field
                  label="Assunto do e-mail"
                  :label-position="label_position"
                  expanded
                >
                  <b-input v-model="assuntoDoEmail"></b-input>
                </b-field>
              </div>

              <!-- coluna 2 -->

              <div class="column is-narrow">
                <b-field grouped position="is-right">
                  <p class="control">
                    <b-button
                      type="is-ghost"
                      icon-right="arrow-expand"
                    ></b-button>
                  </p>
                </b-field>
              </div>
            </div>

            <!-- <vue-ckeditor v-model="lembrete" /> -->

            <!-- <div class="post">
              <b-button
                @click="transformarHTML"
                type="is-success"
                icon-left="delete"
              ></b-button>
              <div
                ref="pre"
                v-on:focus="$event.target.select()"
                v-html="postMark"
              ></div>
            </div> -->

            <b-field>
              <b-input
                v-on:focus="$event.target.select()"
                ref="textarea"
                type="textarea"
                rows="14"
                :value="lembrete"
              >
              </b-input>
              <template #label>
                Lembrete
                <b-tooltip
                  type="is-dark"
                  label="Resultado final. É só copiar e colar"
                >
                  <b-icon size="is-small" icon="help-circle-outline"></b-icon>
                </b-tooltip>
              </template>
            </b-field>

            <b-field>
              <b-tooltip
                label="Copiar para área de transferência"
                type="is-dark"
              >
                <b-button @click="copyToClipboard"> Copiar </b-button>
              </b-tooltip>
            </b-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ToastProgrammatic as Toast } from 'buefy'
import { marked } from 'marked'

import VueCkeditor from 'vue-ckeditor2'

export default {
  name: 'App',
  components: { VueCkeditor },
  data() {
    return {
      host: '',
      name: '',
      mentoria: '',
      data: '',
      horario: '',
      lstreamyard: '',
      lyoutube: '',
      postMark: '',
      label_position: 'on-border',
      bootcamp: '',
      cliente: '',
      editor: 'ClassicEditor',
      editorData: '<p>Content of the editor.</p>',
      editorConfig: {
        // The configuration of the editor.
      },
    }
  },

  computed: {
    assuntoDoEmail() {
      return `Lembrete Mentoria: DIO <> ${this.cliente} - ${this.bootcamp}`
    },
    lembrete() {
      return `Olá, ${this.name}!

Seguem informações para a sua participação na ${this.mentoria}, hoje ${this.data} às ${this.horario}:

- O link para acesso é: ${this.lstreamyard} e ao logar escreva seu nome da seguinte maneira:
Nome Sobrenome espaço hífen espaço Nome da Empresa
Ex: ${this.host} - DIO
- Entre com aproximadamente 15 minutos de antecedência para testar câmera e microfone.
- Utilize, de preferência, um fone de ouvido ou microfone externo ao notebook para que a sua voz se projete melhor.
- O local deve ter internet estável, mas deixe sempre um aparelho com 4G à disposição, caso a sua conexão caia basta acessar o mesmo link pelo celular.
- Caso queira compartilhar com seus colegas para assistirem no YouTube: ${this.lyoutube}`
    },
  },
  methods: {
    limpar() {
      this.host = ''
      this.name = ''
      this.mentoria = ''
      this.data = ''
      this.horario = ''
      this.lstreamyard = ''
      this.lyoutube = ''
      this.postMark = ''
      this.assunto = ''
    },
    copyToClipboard() {
      this.$refs.textarea.focus()

      navigator.clipboard.writeText(this.lembrete).then(
        function () {
          console.log(this.$buefy)
          Toast.open('Copiado')
        },
        function (e) {
          Toast.open('Erro ao copiar')
          console.error(e)
        }
      )
    },
    /* testando uma div html */
    transformarHTML() {
      this.postMark = marked.parse(this.lembrete)
      this.$refs.pre.focus()

      navigator.clipboard.writeText(this.lembrete).then(
        function () {
          console.log(this.$buefy)
          Toast.open('Copiado')
        },
        function (e) {
          Toast.open('Erro ao copiar')
          console.error(e)
        }
      )
    },
  },
}
</script>

<style></style>
